body {
    background-color: bisque;
    display: flex;
    align-content: center;
    justify-content: center;
    color: violet;
    font-weight: bolder;
    font-size: 20px;
}

#calc {
    height: 350px;
    width: 400px;
    background-color: #E2CFEA;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "screen screen screen screen screen"
        "buttons buttons buttons buttons buttons"
        "buttons buttons buttons buttons buttons"
        "buttons buttons buttons buttons buttons"
        "buttons buttons buttons buttons buttons";
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-color: #102B3F;
    border-style: solid;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#screen {
    position:relative;
    grid-area: screen;
    background-color: white;
    width: auto;
    height: 75px;
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
    border-color: #102B3F;
    border-style: solid;
    color: #102B3F;
    font-weight: 900;
    -moz-background-clip: padding;
    background-clip: padding-box;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;

}

#display{
    width: 300px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position:absolute;
    bottom:0;
    right:0;
}

.buttons {
    background-color: #A06CD5;
    color: #102B3F;
    display: flex;
    margin: 1px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #102B3F;
    border-radius: 5px;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.buttons:hover {
    background-color: #6247AA;
}

.buttons:active{
    background-color: #6147aaa9;
    border-width: 1px; 
}